# Ignoring the virtual enviorment
.venv

# Ignoring the lecture demo
lecture_001.sql

# Ignoring the video transcripts
*.txt

# Remove the first study guide and instead keep the file sequence
study_guide_001.sql
